ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    background-color: rgb(34, 109, 84);
    padding: 3px;
    border-radius: 10px;
}
a:hover{
    background-color: teal;
}